{% import "macros/textures.html.jinja" as texture_macros with context -%}

{{ texture_macros.render_texture(
  name=entityIn.name,
  texture=entityIn.texture,
  class_names=["lightning-input-recipe-entity"],
) }}