{% import "macros/textures.html.jinja" as texture_macros with context -%}

{{ texture_macros.render_texture(
  name=zap.name,
  texture=zap.texture,
  class_names=["lightning-zap-recipe-entity"],
) }}