{% import "macros/textures.html.jinja" as texture_macros with context -%}

<details class="details-collapsible lightning-recipe-details">
  <summary class="collapse-details">
    <span class="collapse-recipe-show">{{ _('hexdoc.recipe.show') }}</span>
    <span class="collapse-recipe-hide">{{ _('hexdoc.recipe.hide') }}</span>
  </summary>

  <div class="lightning-recipe">

    <img
      class="lightning-recipe-background"
      src="{{ 'fishcasting:textures/gui/hexdoc/struck_by_lightning.png' | hexdoc_texture }}"
      alt=""
    >

    {% block header %}
      <div class="lightning-recipe-header">
        {{ page.header }}
      </div>
    {% endblock %}

    {% block body %}
      <div class="lightning-recipe-body">
        {{ page.body }}
      </div>
    {% endblock %}

    {% block entity_in %}
      <div class="lightning-recipe-entity-in">
        <img
          src="{{ ('fishcasting:textures/entities/' ~ recipe.exchange.entityIn.path ~ '.png') | hexdoc_texture }}"
          alt=""
        >
      </div>
    {% endblock %}

    {% block entity_out %}
      <div class="lightning-recipe-entity-out">
        <img
          src="{{ ('fishcasting:textures/entities/' ~ recipe.exchange.entityOut.path ~ '.png') | hexdoc_texture }}"
          alt=""
        >
      </div>
    {% endblock %}

  </div>
</details>