{% import "macros/textures.html.jinja" as texture_macros with context -%}

<details class="details-collapsible lightning-recipe-details">
  <summary class="collapse-details">
    <span class="collapse-recipe-show">{{ _('hexdoc.recipe.show') }}</span>
    <span class="collapse-recipe-hide">{{ _('hexdoc.recipe.hide') }}</span>
  </summary>

  <div>
    <h5>{{ page.header }}</h5>

    <div class="lightning-recipe">
      <img
        class="lightning-recipe-background"
        alt="Struck by Lightning Recipe GUI"
        src="{{ 'fishcasting:textures/gui/hexdoc/struck_by_lightning.png'|hexdoc_texture }}"
      >

      <div class="lightning-recipe-input">
        <img
          src="{{ ('fishcasting:textures/entities/' ~ recipe.exchange.entityIn.split(':')[1] ~ '.png') | hexdoc_texture }}"
          alt="{{ recipe.exchange.entityIn.path }}"
        >
      </div>

      <div class="lightning-recipe-output">
        <img
          src="{{ ('fishcasting:textures/entities/' ~ recipe.exchange.entityOut.split(':')[1] ~ '.png') | hexdoc_texture }}"
          alt="{{ recipe.exchange.entityOut.path }}"
        >
      </div>
    </div>

    <p>{{ page.body }}</p>
  </div>
</details>